#!/sbin/runscript

depend() {
	need net
	use mta
}

checkconfig() {
        if [ ! -f /etc/dkimproxy_in.conf ]; then
                eerror "Configuration file /etc/dkimproxy_in.conf not found"
                return 1
        fi
}

start() {
        checkconfig || return 1

        ebegin "Starting dkimproxy_in"
        start-stop-daemon --start --quiet \
	   		--exec /usr/bin/dkimproxy.in \
               -- --conf_file=/etc/dkimproxy_in.conf \
			--daemonize --pidfile=/var/run/dkimproxy_in.pid
        eend ${?}
}

stop() {
        ebegin "Stopping dkimproxy_in"
        start-stop-daemon --stop --quiet --pidfile /var/run/dkimproxy_in.pid
        eend ${?}
}

