#!/sbin/runscript
# Copyright 1999-2003 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /home/cvsroot/gentoo-x86/net-ftp/proftpd/files/proftpd.rc6,v 1.7 2004/01/24 07:31:23 blkdeath Exp $

depend() {
	use net
	after logger
	
}

start() {
	ebegin "Starting dbmail POP3 daemon"
	start-stop-daemon --start --quiet --exec /usr/bin/dbmail-pop3d 
	eend $?
}

stop() {
	ebegin "Stopping dbmail POP3 daemon"
	start-stop-daemon --stop --quiet --exec /usr/bin/dbmail-pop3d
	eend $?
}
